/* General CSS
/*--------------------------------------------------------------------------------------------------------------------*/

/* Buttons */
.button:hover {
    -fx-background-color: #3DCD58;
}

/* ComboBox */
.combo-box:hover {
    -fx-background-color: #3DCD58;
}

.combo-box{
    -fx-border-color: #3DCD58;
}

.combo-box-popup .cell:hover {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

/* TextField */
.text-field {
    -fx-border-color: #3DCD58;
}

/* TabPane */
.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: transparent;
    -fx-border-color: #3DCD58;
    -fx-border-width: 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-shape: "M 10,10 C 0,10 0,0 10,0 L 100,0 C 110,0 110,10 100,10 L 0,10 Z";
}

.tab:hover {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: BLACK;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected{
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

/* TableView */
.table-row-cell {
    -fx-cell-size: 50px;
}

.table-cell {
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header:hover {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

/*ListView */

.list-cell:hover {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

.list-cell:selected{
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

.list-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #3DCD58;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

/* Style the ScrollPane */
.scroll-pane {
    -fx-background-color: transparent; /* Make the background transparent */
    -fx-border-color: #3DCD58; /* Set the border color to green */
    -fx-border-width: 1; /* Adjust the border width as needed */
}

/* Style the ScrollBar */
.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

/* Style the ScrollBar track */
.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-insets: 5;
}

.scroll-bar .thumb {
    -fx-background-color: #3DCD58;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #3DCD58;
    -fx-text-fill: black;
    -fx-background-radius: 5;
}

/* MFX Slider*/
/*--------------------------------------------------------------------------------------------------------------------*/
.mfx-slider {
    -mfx-main-color: #3DCD58;
    -mfx-main-color-hover: #F1F1E8;
    -mfx-main-color-pressed:#3DCD58;
}

.mfx-slider .track,
.mfx-slider .bar {
    -fx-arc-height: 6;
    -fx-arc-width: 6;
}

.mfx-slider .track {
    -fx-fill: #F1F1E8;
}

.mfx-slider .bar {
    -fx-fill: -mfx-main-color;
}

.mfx-slider .thumb-container .thumb {
    -mfx-color: -mfx-main-color;
}

.mfx-slider .thumb-container .thumb-radius {
    -mfx-color: transparent;
}

.mfx-slider .thumb-container:hover .thumb-radius {
    -mfx-color: -mfx-main-color-hover;
}

.mfx-slider .thumb-container:pressed .thumb-radius {
    -mfx-color: -mfx-main-color-pressed;
}

.mfx-slider .thumb-container .mfx-ripple-generator {
    -mfx-ripple-color: -mfx-main-color;
}

.mfx-slider .tick-even,
.mfx-slider .tick-odd {
    -mfx-color: derive(transparent, 30%);
}



    /* CreateProfileView */
    /*--------------------------------------------------------------------------------------------------------------------*/

    /* Background */

    #bP_CreateProfile, #bP_Currency {
        -fx-background-color: #F4F4F4;
    }

    /* WhiteBox */

    #vBoxWhiteCreateProfile, #vboxCenterCurrency, #vboxCenterRole, #vBoxCenterCreateTeam, #vBoxCenterTeamDetails, #vBoxCenterGeographyOverview, #vBoxCenterCreateGeography {
        -fx-background-color: #FFFFFF;
        -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 4);
    }

    /* TilePane */

    #tPaneTeamOverview {
        -fx-background-color: #FFFFFF;
    }

    /* Header Box */

    #headerHboxCreateProfile, #hBoxHeaderCurrency, #hBoxHeaderTeams, #vBoxCenterTeams, #hBoxHeaderProfile, #hBoxHeaderCreateTeam, #hBoxHeaderTeamDetails
    , #hBoxHeaderGeographyOverview, #hBoxHeaderCreateGeography, #hBoxHeaderCreateRole {
        -fx-background-color: #F1F1E8;
        -fx-border-color: transparent transparent #3DCD58 transparent;
        -fx-border-width: 0 0 2px 0;
        -fx-border-style: solid;
    }

    /* Header Text */

    #headerTextCreateProfile, #headerTextCurrency, #lblHeaderTeams, #lblHeaderProfile, #lblRole, #lblHeaderCreateTeam, #lblHeaderTextTeamDetails
    , #lblHeaderGeographyOverview, #lblCreateGeography, #lblHeaderTextCreateGeography {
        -fx-font-size: 14px;
        /* -fx-font-weight: bold; */
        -fx-text-fill: black;

    }

    /* Result Borders */

    #resultVboxCreateProfileHour, #resultVboxCreateProfileDaily {
        -fx-border-color: #040404;
        -fx-border-width: 1;
        -fx-border-radius: 5;
    }

    /* border Details */

    #gPaneCreateProfile {
        -fx-border-color: #040404;
        -fx-border-width: 1;
        -fx-border-radius: 5;
    }

    /* Button */

    #btnCreateProfile, #btnCurrencySave, #btnCreateProjectTeams, #btnSaveRole, #btnCreateTeam, #btnRemoveProfileTeams, #btnSelectProfile
    , #btnUpdateTeamTeamDetails, #btnCreateGeography, #btnSaveGeography {
        -fx-background-color: #3DCD58;
        -fx-text-fill: #18191a;
        -fx-font-size: 14px;
        -fx-background-radius: 20;
        -fx-border-radius: 20;
    }


    #btnDeleteTeamTeamDetails {
        -fx-background-color: transparent;
        -fx-text-fill: #18191a;
        -fx-font-size: 14px;
        -fx-background-radius: 20;
        -fx-border-radius: 20;
        -fx-border-color: #3DCD58;
    }

    /* tableViews */

.table-view .column-header,
.table-view .column-header-background .label {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent transparent #3DCD58 transparent;
    -fx-border-width: 0 0 1px 0;
}

.table-view {
    -fx-background-color: #FFFFFF; /* White background for the table view */
    -fx-border-color: #3DCD58; /* Green border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners for the border */
}

     /* table center alignment  */

.table-cell {
    -fx-alignment: CENTER;
}

    /*  table left alignment */

#colGeoOverviewName, #colNameProfile, #colFirstNameTD, #colCurrencyCodes {
    -fx-alignment: CENTER_LEFT;
}



/* FrameView */
    /*--------------------------------------------------------------------------------------------------------------------*/

    #btnDashboard:hover, #btnProfiles:hover, #btnGeography:hover, #btnTeams:hover, #btnMultiplier:hover, #btnCurrency:hover {
        -fx-background-color: #F2F2F2;
        -fx-border-color: transparent transparent transparent #3DCD58;
        -fx-border-width: 0 0 0 2px;
    }

    .button-selected {
    -fx-background-color: #F2F2F2;
    -fx-border-color: transparent transparent transparent #3DCD58;
    -fx-border-width: 0 0 0 2px;

    }

    /* Buttons/Background/separator/HeaderText TapBar  */

    #btnDashboard, #btnProfiles, #btnGeography, #btnTeams, #btnMultiplier, #btnCurrency, #btnCurrency {
        -fx-background-color: transparent;
        -fx-font-weight: bold;
        -fx-alignment: CENTER_LEFT;
        -fx-padding: 0 10px;
    }

    #vboxTapBar {
        -fx-background-color: #FFFFFF;
    }

    #separatorFrame {
        -fx-background-color: #3DCD58;

    }

    #lblFrameHeader {
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-text-fill: #3DCD58;
    }


    /* vBox/hBox colors */

    #hboxFrameLogo {
        -fx-background-color: #3DCD58;
    }

    /* Bar Chart */

    .default-color0.chart-bar {
        -fx-bar-fill: #3DCD58; /* Green fill for bars */
    }

    .default-color0.chart-bar:hover {
        -fx-bar-fill: #34b04c; /* Slightly darker green on hover */
    }


.team-vbox {
    -fx-alignment: top-center;
    -fx-pref-width: 225px;
    -fx-pref-height: 200px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-spacing: 14;
}

.top-label {
    -fx-background-color: #3DCD58;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10px 5px;
    -fx-pref-height: 40px;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}

.other-label {
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-padding: 2px;
    -fx-alignment: center;
}

/* --------------------------------------------------------------------------------- */
/*MultipliersView */

#bP_Multiplier{
    -fx-background-color: #F4F4F4;
}

#vBoxMultiplier{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 4);
}

#tPaneMultiplier{
    -fx-background-color: #FFFFFF;
}

#hBoxHeaderMultiplier{
    -fx-background-color: #F1F1E8;
    -fx-border-color: transparent transparent #3DCD58 transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid;
}

#btnResetP, #btnResultP, #btnResetT, #btnResultT{
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

/* --------------------------------------------------------------------------------- */
/* DashBoard */

#tabPaneDashboard {
    -fx-background-color: #FFFFFF;
}

#tabPaneDashboard .tab-header-area .tab-header-background {
    -fx-background-color: #F1F1E8; /* Light gray background */
    -fx-opacity: 1; /* Fully opaque */
}






