



.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: transparent;
    -fx-border-color: #3DCD58;
    -fx-border-width: 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-shape: "M 10,10 C 0,10 0,0 10,0 L 100,0 C 110,0 110,10 100,10 L 0,10 Z";

}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: BLACK;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}


/* profile TableView */
.table-row-cell {
    -fx-cell-size: 50px;
}

.table-cell {
    -fx-alignment: CENTER_LEFT;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/* Background */

#bP_CreateProfile {
    -fx-background-color: #F4F4F4;
}

/* WhiteBox */

#vBoxWhiteCreateProfile {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 4);
}


/* Header Box */

#headerHboxCreateProfile {
    -fx-background-color: #F1F1E8;
    -fx-border-color: transparent transparent #3DCD58 transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid;
}

/* Header Text */

#headerTextCreateProfile {
    -fx-font-size: 14px;
   /* -fx-font-weight: bold; */
    -fx-text-fill: black;

}

/* Result Borders */

#resultVboxCreateProfileHour, #resultVboxCreateProfileDaily {
    -fx-border-color: #040404;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* border Details */

#gPaneCreateProfile {
    -fx-border-color: #040404;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* Button */

#btnCreateProfile {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}