/* General CSS
/*--------------------------------------------------------------------------------------------------------------------*/

/* Buttons */
.button:hover {
    -fx-background-color: #3DCD58;
}

/* ComboBox */
.combo-box:hover {
    -fx-background-color: #3DCD58;
}

.combo-box{
    -fx-border-color: #3DCD58;
}

.combo-box-popup .cell:hover {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

/* TextField */
.text-field {
    -fx-border-color: #3DCD58;
}

/* TabPane */
.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: transparent;
    -fx-border-color: #3DCD58;
    -fx-border-width: 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-shape: "M 10,10 C 0,10 0,0 10,0 L 100,0 C 110,0 110,10 100,10 L 0,10 Z";
}

.tab:hover {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: BLACK;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* TableView */
.table-row-cell {
    -fx-cell-size: 50px;
}

.table-cell {
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header:hover {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
}

/* CreateProfileView */
/*--------------------------------------------------------------------------------------------------------------------*/

/* Background */

#bP_CreateProfile, #bP_Currency {
    -fx-background-color: #F4F4F4;
}

/* WhiteBox */

#vBoxWhiteCreateProfile, #vboxCenterCurrency {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 4);
}


/* Header Box */

#headerHboxCreateProfile, #hBoxHeaderCurrency {
    -fx-background-color: #F1F1E8;
    -fx-border-color: transparent transparent #3DCD58 transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid;
}

/* Header Text */

#headerTextCreateProfile, #headerTextCurrency {
    -fx-font-size: 14px;
   /* -fx-font-weight: bold; */
    -fx-text-fill: black;

}

/* Result Borders */

#resultVboxCreateProfileHour, #resultVboxCreateProfileDaily {
    -fx-border-color: #040404;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* border Details */

#gPaneCreateProfile {
    -fx-border-color: #040404;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* Button */

#btnCreateProfile, #btnCurrencySave {
    -fx-background-color: #3DCD58;
    -fx-text-fill: #18191a;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

/* FrameView */
/*--------------------------------------------------------------------------------------------------------------------*/
#btnDashboard:hover, #btnProfiles:hover, #btnGeography:hover, #btnTeams:hover, #btnMultiplier:hover, #btnCurrency:hover, #btnCurrency:hover {
    -fx-background-color: #F2F2F2;
    -fx-border-color:  transparent transparent transparent #3DCD58;
    -fx-border-width: 0 0 0 2px ;
}

/* Buttons/Background/separator/HeaderText TapBar  */

#btnDashboard, #btnProfiles, #btnGeography, #btnTeams, #btnMultiplier, #btnCurrency, #btnCurrency {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 10px;
}

#vboxTapBar {
    -fx-background-color: #FFFFFF;
}

#separatorFrame  {
    -fx-background-color: #3DCD58;

}

#lblFrameHeader {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #3DCD58;
}


/* vBox/hBox colors */

#hboxFrameLogo {
    -fx-background-color: #3DCD58;
}

/* Bar Chart */
.default-color0.chart-bar {
    -fx-bar-fill: #3DCD58; /* Green fill for bars */
}

.default-color0.chart-bar:hover {
    -fx-bar-fill: #34b04c; /* Slightly darker green on hover */
}



